* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
.navbar {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-evenly;
  background-color: rgb(170, 144, 196);
  min-height: 10vh;
}
footer {
  bottom: 0;
  position: absolute;
  width: 100vw;
  height: 50px;
  background-color: rgb(170, 144, 196);
}
body {
  /* background: url("https://i.pinimg.com/564x/dc/e5/0e/dce50e45843b80386d1e37ac544f9e6b.jpg"); */
  background: url("https://media.giphy.com/media/lQ0uoOsTychGx1Oocc/giphy.gif");
  background-size: cover;
  /* object-fit: cover; */
  width: 100vw;
  height: 100vh;
}
.link {
  text-decoration: none;
  color: rgb(125, 40, 128);
}
